<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/bootstrap.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>

    <div class="alert alert-primary" role="alert">
        <h3><a href="/cadastroclientes">Cadastro de Clientes</a></h3>
    </div>

  </body>
</html>
